<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

    <main class="container">
        <h1><%= title %> Page</h1>
        <div class="content">
        <img src="/images/surveyhome.jpg" width = "200" height = "200"/>
        <p><font color="green"><b><i><h2>Create Surveys. Get Answers.</h2></b></i></font></p>
        
        </div>
        
    </main>
<% include partials/footer.ejs %>
    
