<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

    <main class="container">
        <h1><%= title %> Page</h1>
        <div class="content">
        <section id="services" class="services text-center">
    <div class="section-padding">
      <div class="container">
        <div class="row">
          <div class="section-top wow animated fadeInUp" data-wow-delay=".5s">
            <p><font color="green"><b><i><h2>Create Surveys. Get Answers.</h2></b></i></font></p>
        
            
          </div><!-- /.section-top -->

          <div class="section-details">
            <div class="service-details">
            
              <div class="col-md-3 col-sm-6">
                <div class="item wow animated fadeInLeft" data-wow-delay=".5s">
                <div class="item-icon">
                    <i class="fa fa-lightbulb-o"></i>
                  </div><!-- /.item-icon -->
                  <div class="item-details">
                    <h4 class="item-title">Send Survey</h4><!-- /.item-title -->
                    <p class="item-description">
                      When you will complete survey it will send the link of the survey through E-mail to whome you want to send.
                    </p><!-- /.item-description -->
                  </div><!-- /.item-details -->
                </div><!-- /.item -->
              </div>

              <div class="col-md-3 col-sm-6">
                <div class="item wow animated fadeInLeft" data-wow-delay=".35s">
                  <div class="item-icon">
                    <i class="fa fa-share"></i>
                  </div><!-- /.item-icon -->
                  <div class="item-details">
                    <h4 class="item-title">Get Feedback for Survey</h4><!-- /.item-title -->
                    <p class="item-description">
                      Get a feedback from the people that you have send.
                    </p><!-- /.item-description -->
                  </div><!-- /.item-details -->
                </div><!-- /.item -->
              </div>
              
              div class="col-md-3 col-sm-6">
                <div class="item wow animated fadeInRight" data-wow-delay=".35s">
                  <div class="item-icon">
                    <i class="fa fa-reply-all"></i>
                  </div><!-- /.item-icon -->
                  <div class="item-details">
                    <h4 class="item-title">Latest Max CDN Service</h4><!-- /.item-title -->
                    <p class="item-description">
                      Definite amount of matter in visible universe, a number of molecules and atoms in huge number
                    </p><!-- /.item-description -->
                  </div><!-- /.item-details -->
                </div><!-- /.item -->
              </div>

              <div class="col-md-3 col-sm-6">
                <div class="item wow animated fadeInRight" data-wow-delay=".35s">
                  <div class="item-icon">
                    <i class="fa fa-pie-chart"></i>
                  </div><!-- /.item-icon -->
                  <div class="item-details">
                    <h4 class="item-title">Latest Max CDN Service</h4><!-- /.item-title -->
                    <p class="item-description">
                      Definite amount of matter in visible universe, a number of molecules and atoms in huge number
                    </p><!-- /.item-description -->
                  </div><!-- /.item-details -->
                </div><!-- /.item -->
              </div>

              

            </div><!-- /.service-details -->
          </div><!-- /.section-details -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section-padding -->
  </section><!-- /#services -->

  <!-- Service Section-->

        
        </div>
        
    </main>
<% include partials/footer.ejs %>
    
